*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-juego,
.iconos-maquina{
    width: 70px;
    height: 70px;
    margin: 10px 20px;
    cursor: pointer;
    padding: 15px;
}

.opciones-maquina{
    margin-top: 30px;
}

.iconos-juego.active{
    border: 1px solid red;
    border-radius: 10px;
}

.iconos-maquina.active{
    border: 1px solid green;
    border-radius: 10px;
}
